.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather input {
  outline: none;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather .clearfix {
  display: flex;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 5px;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  line-height: 1;
}
